
/* common class */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background: url(../images/banner/banner1.png);
    width: 100%;
    height: 808px;
    background-repeat: no-repeat;
    background-size: cover; 
}



