
/* common class */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.container{
    margin-bottom: 130px;
}



/* 
banner section starts */

#banner{
    background: url(../images/banner/banner1.png);
    width: 100%;
    height: 808px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    display: flex;
    justify-content:flex-end;
    text-align: right;
    align-items: center;

}

#banner .banner-container{
    text-align: right;
    max-width: 525px;
    margin-right: 230px;
}

.banner-container .banner-h1{
    text-align: right;
    margin-bottom: 24px;
}

.banner-h1 h1{
    color: #151414;
    font-size: 65px;
    font-weight: bold;
}

.banner-container .banner-p{
    text-align: right;
    margin-bottom: 32px;
}

.banner-h1 p{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}

.btn{
    background-color:#F15B22 ;
    color: #FFFFFF;
    height: 64px;
    width: 160px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
}

/* failure section starts */

#failure{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 78px;
    /* border: 1px solid black; */
    align-items:center;
    margin-bottom: 130px;
}

/* #failure .failure-container{
    
} */

/* #failure .img-container{
    padding-left: 215px;
} */


.img-container img{
    width: 569px;
    height: 723px;
    align-content:space-between;
}

#failure .text-container{
    max-width: 416px;
    
    text-align: left;
    /* border: 1px solid black; */
}

.text-container h1{
    color: #151414;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 24px;
}


.text-container p, li{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.text-container ul{
    list-style: none;
}

/* plan section begins */

#plan .plan-heading{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
    /* border: 1px solid black;  */
    margin-bottom: 60px;
    
}

.plan-heading h1{
    text-align: center;
    color: #151414;
    font-weight: bold;
    font-size: 40px;
}

#plan .card-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 50px;
}

.card-container .plan-card{
      /* border: 1px solid black;  */
    width: 270px;
    text-align: center;
    
}

.plan-card img{
    width: 93px;
    margin-bottom: 18px;

}

.plan-card h2{
    font-size: 25px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 18px;  

}

.plan-card p{
    font-size: 25px;
    color: #737272;
}














