
/* common class */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.container{
    margin-bottom: 130px;
}



/* 
banner section starts */

#banner{
    background: url(../images/banner/banner1.png);
    width: 100%;
    height: 808px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    display: flex;
    justify-content:flex-end;
    text-align: right;
    align-items: center;

}

#banner .banner-container{
    text-align: right;
    max-width: 525px;
    margin-right: 230px;
}

.banner-container .banner-h1{
    text-align: right;
    margin-bottom: 24px;
}

.banner-h1 h1{
    color: #151414;
    font-size: 65px;
    font-weight: bold;
}

.banner-container .banner-p{
    text-align: right;
    margin-bottom: 32px;
}

.banner-h1 p{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}

.btn{
    background-color:#F15B22 ;
    color: #FFFFFF;
    height: 64px;
    width: 160px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
}






