
/* common class */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background: url(../images/banner/banner1.png);
    width: 100%;
    height: 808px;
    background-repeat: no-repeat;
    background-size: cover; 
}

/* 
banner section starts */

.banner-container{
    text-align: right;
    justify-content:right;
    padding: 216px 230px 0 845px;
}

.banner-container .h1-container{
    max-width: 525px;

}

.h1-container .banner-h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
}

.banner-container .p-container{
    max-width: 525px;
}

.p-container .banner-p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}




